/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#timeline-embed {
    width: 100%;
    height: 100vh; /* Occupies full height of the viewport */
}

.tl-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligns content to the top */
    align-items: flex-start; /* Aligns content to the left */
    padding: 20px; /* Adds some margin */
    box-sizing: border-box;
}

.tl-slide-content {
    width: 100% !important; /* Ensures content occupies full width */
    max-width: 100% !important;
    margin-top: 0; /* Removes any top margin */
}

.tl-text-content {
    width: 100% !important; /* Ensures text content occupies full width */
    text-align: left; /* Aligns text to the left */
    margin-top: 0; /* Removes any top margin */
}

.tl-headline-date {
    font-size: 40px !important; /* Increases font size for dates */
    padding-left: 20px; /* Adds padding to the left */
    padding-bottom: 20px; /* Adds padding to the bottom */
}

.tl-headline {
    text-align: left; /* Aligns title to the left */
}

/* Increase font size for slide navigation title */
.tl-timenav-item-title {
    font-size: 18px !important;
}

/* Responsive font sizes and padding */
@media (max-width: 600px) {
    .tl-slide {
        padding: 10px; /* Reduce padding for small screens */
    }
    .tl-headline-date {
        font-size: 18px !important; /* Smaller font size for small screens */
        padding-left: 0px; /* Removes padding to the left */
    }
}

@media (min-width: 601px) {
    .tl-headline-date {
        padding-left: 20px; /* Adds padding to the left */
    }
}
